@import "pollen.css";
@import "./src/button/style.css";

/*
root {
  --color-bg: var(--color-base-100, white);
  --color-text: var(--color-base-content, black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-base-content, black);
    --color-text: var(--color-base-100, white);
  }
}
*/

body {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}
